.option {
    list-style: none;
    margin-bottom: 10px;
}

.btn {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
}

.btn:hover, 
.btn:focus {
    background-color: #DDA0DD;
    border: none;
}